<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="$dismiss()">&times</button>
		<h4>{{dialogTitle}}</h4>
	</div>
	<div class="modal-body">
		<form role="form" name="raceForm" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : raceForm.name.$invalid && !raceForm.name.$pristine }">
				<label for="name">Megnevezés:</label>
				<input type="text" name="name" ng-model="selected.name" ng-disabled="!editMode" maxlength=200 required class="form-control" />
				<p ng-show="raceForm.name.$invalid && !raceForm.name.$pristine" class="help-block">A megnevezés megadása kötelező!</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : raceForm.name.$invalid && !raceForm.name.$pristine }">
				<label for="name">Leírás:</label>
				<textarea name="desc" ng-model="selected.desc" ng-disabled="!editMode" maxlength=1000 required class="form-control"></textarea>
				<p ng-show="raceForm.desc.$invalid && !raceForm.desc.$pristine" class="help-block">Leírás megadása kötelező!</p>
			</div>
			<div class="form-group col-md-6" ng-class="{ 'has-error' : raceForm.startdate.$invalid && !raceForm.startdate.$pristine }">
				<label for="startdate">Kezdő dátum:</label>
				<input type="date" name="startdate" ng-model="selected.startdate" ng-disabled="!editMode" required class="form-control" />
				<p ng-show="raceForm.startdate.$invalid && !raceForm.startdate.$pristine" class="help-block">Kezdő dátum megadása kötelező!</p>
			</div>
			<div class="form-group col-md-6" ng-class="{ 'has-error' : raceForm.enddate.$invalid && !raceForm.enddate.$pristine }">
				<label for="enddate">Végdátum:</label>
				<input type="date" name="enddate" ng-model="selected.enddate" ng-disabled="!editMode" min="{{selected.startdate | date: 'yyyy-MM-dd'}}" class="form-control" />
				<p ng-show="raceForm.enddate.$invalid && !raceForm.enddate.$pristine" class="help-block">Kezdő dátum megadása kötelező!</p>
			</div>
			<div class="form-group">
				<label for="tournament">Körverseny:</label><span class="glyphicon glyphicon-refresh clickable" ng-click="getTournaments('true')" title="Frissít"></span>
				<select name="tournament" ng-model="selected.tournament" ng-disabled="!editMode" ng-options="t.name for t in tournaments track by t.id" class="form-control">
			      <option value="">--Válassz körversenyt--</option>
			    </select>
			</div>
			<div class="form-group">
				<label for="national">Országos bajnokság:</label>
				<input type="checkbox" name="national" ng-model="selected.national" ng-disabled="!editMode" />
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="$close()" ng-bind="dialogBtnLabel" ng-disabled="raceForm.$invalid"></button>
		<button class="btn btn-primary" ng-click="$dismiss()">Mégse</button>
	</div>
</div>