<div class="container">
	<h3>Admin opciók</h3>
	<uib-accordion class="hidden-print" close-others="accordionOptions.oneAtATime">
	    <uib-accordion-group is-open="accordionOptions.modifyEntries.open">
	    	<uib-accordion-heading>
        		Nevezések tömeges módosítása <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionOptions.modifyEntries.open, 'glyphicon-chevron-right': !accordionOptions.modifyEntries.open}"></i>
      		</uib-accordion-heading>
      		<form class="form-inline" role="form">
  				<div class="form-group">
      				<label for="field">Mező:</label>
					<select name="field" ng-model="data.selectedEntryOption" ng-options="o.displayName for o in options" class="form-control"></select>
				</div>
				<div class="form-group">
      				<label for="value">Érték:</label>
					 <select ng-hide="data.selectedEntryOption.freeValue" name="value" ng-model="data.selectedEntryOption.selectedValue" class="form-control">
    					<option ng-repeat="o in data.selectedEntryOption.values track by $index" value="{{$index}}">{{o.displayName}}</option>
    				</select>
    				<input ng-show="data.selectedEntryOption.freeValue" type="text" name="value" ng-model="data.selectedEntryOption.value" class="form-control" />
				</div>
				<button type="button" class="btn btn-primary" ng-disabled="!data.selectedEntryOption" ng-click="selectEntries()" title="Nevezések kiválasztása"><span class="glyphicon glyphicon-list"></span></button>
				<button type="button" class="btn btn-primary" ng-disabled="!data.selectedEntryOption || (!data.selectedEntryOption.selectedValue && !data.selectedEntryOption.value) || !data.selectedEntryOption.selectedRacenums.length" ng-click="modifyEntries()"><span class="glyphicon glyphicon-pencil"></span> Végrehajt</button>
				<p>{{data.selectedEntryOption}}</p>
				<p>{{data.selectedEntryOption.selectedRacenums.length}}</p>
			</form>
	    </uib-accordion-group>
	    <uib-accordion-group is-open="accordionOptions.deleteRaceData.open">
	    	<uib-accordion-heading>
        		Versenyadatok törlése <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionOptions.deleteRaceData.open, 'glyphicon-chevron-right': !accordionOptions.deleteRaceData.open}"></i>
      		</uib-accordion-heading>
      		<form class="form-inline" role="form">
  				<div class="form-group">
      				<label for="race">Verseny:</label>
					<select name="race" ng-model="data.selectedRace" ng-options="r.name for r in races track by r.id" class="form-control"></select>
				</div>
				<button type="button" class="btn btn-primary" ng-disabled="!data.selectedRace" ng-click="deleteRaceData()"><span class="glyphicon glyphicon-trash"></span> Törlés</button>
			</form>
	    </uib-accordion-group>	    
	    <uib-accordion-group is-open="accordionOptions.manageLicenceData.open">
	    	<uib-accordion-heading>
        		Licenszadatok kezelése <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionOptions.modifyResult.open, 'glyphicon-chevron-right': !accordionOptions.modifyResult.open}"></i>
      		</uib-accordion-heading>
	    	<csv-file-upload options="csvUploadOptions" onprocess="processCSVLicences"></csv-file-upload>
	      	<hr />
	      	<label>Licenszadatok törlése:</label>
	      	<button type="button" class="btn btn-primary" ng-click="deleteLicenceData()"><span class="glyphicon glyphicon-trash"></span> Töröl</button>
	    </uib-accordion-group>
	     <uib-accordion-group is-open="accordionOptions.modifyResult.open">
	    	<uib-accordion-heading>
        		Eredmény módosítása <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionOptions.modifyResult.open, 'glyphicon-chevron-right': !accordionOptions.modifyResult.open}"></i>
      		</uib-accordion-heading>
      		<form class="form-inline" role="form">
  				<div class="form-group">
      				<label for="race">Verseny:</label>
					<select name="race" ng-model="selectedRace" ng-options="r.name for r in races track by r.id" ng-change="data.selectedRace = selectedRace;data.result = {}" class="form-control"></select>
				</div>				
			</form>
			<br />
			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form" name="resultForm" class="form-inline" novalidate>
						<div class="form-group" ng-class="{ 'has-error' : resultForm.racenum.$invalid && !resultForm.racenum.$pristine }">
							<label for="racenum">Rajtszám:</label>
							<input type="number" name="racenum" id="result-racenum" ng-model="data.result.racenum" min=1 max=999 ng-pattern="/^[1-9][0-9]{0,2}$/" racenum="inverse" required class="form-control" />
							<p ng-show="resultForm.racenum.$invalid && !resultForm.racenum.$pristine" class="help-block">A rajtszám megadása kötelező!</p>    
							<p ng-show="resultForm.racenum.$pending.racenum" class="help-block">Rajtszám ellenőrzése...<img src="resources/images/ajax-loader-small.gif" /></p>
							<p ng-show="resultForm.racenum.$error.racenum" class="help-block">Nem létező rajtszám!</p>
						</div>
						<div class="form-group">				
							<uib-timepicker ng-model="data.result.racetime" show-seconds="true" show-meridian="false" required></uib-timepicker>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : resultForm.desc.$invalid && !resultForm.desc.$pristine }">
							<label for="desc">Indok:</label>
							<input type="text" name="desc" ng-model="data.result.racetimemoddesc" maxlength=100 required class="form-control" />
							<p ng-show="resultForm.desc.$invalid && !resultForm.desc.$pristine" class="help-block">Indok megadása kötelező!</p>						
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-primary" ng-disabled="resultForm.$invalid" ng-click="modifyResult()"><span class="glyphicon glyphicon-upload"></span> Módosít</button>
						</div>
					</form>	
				</div>	
			</div>
	    </uib-accordion-group>
	    <uib-accordion-group is-open="accordionOptions.manageResultmods.open">
	    	<uib-accordion-heading>
        		Időeredmény módosítások kezelése <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionOptions.manageResultmods.open, 'glyphicon-chevron-right': !accordionOptions.manageResultmods.open}"></i>
      		</uib-accordion-heading>
      		<div ng-controller="ResultmodCtrl">
      			<div>
      				<span class="glyphicon glyphicon-plus clickable"  ng-click="create()" title="Új"> </span>
      				<span class="glyphicon glyphicon-refresh clickable"  ng-click="getResultmods()" title="Betölt/Frissít"></span>
      			</div>
				<table class="table table-striped table-bordered table-hover" ng-show="resultmods.length">
					<thead>
						<tr>
							<td>Azonosító</td>
							<td>Megnevezés</td>
							<td>+/-</td>
							<td>Idő</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="r in resultmods">
							<td>{{r.idname}}<span style="display: none;" showonhover>
												(<span class="glyphicon glyphicon-pencil clickable" ng-click="edit(r)" title="Módosít">|</span>
										   		<span class="glyphicon glyphicon-trash clickable"  ng-click="delete(r)" title="Töröl"></span>)
										   	</span>
						   </td>
						   <td>{{r.name}}</td>
						   <td>{{r.plus ? '+' : '-'}}</td>
						   <td>{{r.time | date : 'HH:mm:ss'}}</td>
						</tr>
					</tbody>
				</table>
				<div ng-hide="resultmods.length" class="container msg-box">
			    	<span>Nincsenek megjelenítendő időeredmény módosítások!</span>
			    </div>
      		</div>
	    </uib-accordion-group>
	</uib-accordion>
</div>