<div class="container">
	<h3>Admin opciók</h3>
	<uib-accordion class="hidden-print" close-others="accordionOptions.oneAtATime">
	    <uib-accordion-group is-open="accordionOptions.modifyEntries.open">
	    	<uib-accordion-heading>
        		Nevezések tömeges módosítása <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionOptions.modifyEntries.open, 'glyphicon-chevron-right': !accordionOptions.modifyEntries.open}"></i>
      		</uib-accordion-heading>
      		<form class="form-inline" role="form">
  				<div class="form-group">
      				<label for="field">Mező:</label>
					<select name="field" ng-model="data.selectedEntryOption" ng-options="o.displayName for o in options" class="form-control"></select>
				</div>
				<div class="form-group">
      				<label for="value">Érték:</label>
					 <select name="value" ng-model="data.selectedEntryOption.selectedValue" class="form-control">
    					<option ng-repeat="o in data.selectedEntryOption.values track by $index" value="{{$index}}">{{o.displayName}}</option>
    				</select>
				</div>
				<button type="button" class="btn btn-primary" ng-disabled="!data.selectedEntryOption" ng-click="selectEntries()" title="Nevezések kiválasztása"><span class="glyphicon glyphicon-list"></span></button>
				<button type="button" class="btn btn-primary" ng-disabled="!data.selectedEntryOption || !data.selectedEntryOption.selectedValue" ng-click="modifyEntries()"><span class="glyphicon glyphicon-pencil"></span> Végrehajt</button>
				<p>{{data.selectedEntryOption}}</p>
			</form>
	    </uib-accordion-group>
	    <uib-accordion-group is-open="accordionOptions.deleteRaceData.open">
	    	<uib-accordion-heading>
        		Versenyadatok törlése <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionOptions.deleteRaceData.open, 'glyphicon-chevron-right': !accordionOptions.deleteRaceData.open}"></i>
      		</uib-accordion-heading>
      		<form class="form-inline" role="form">
  				<div class="form-group">
      				<label for="race">Verseny:</label>
					<select name="race" ng-model="data.selectedRace" ng-options="r.name for r in races track by r.id" class="form-control"></select>
				</div>
				<button type="button" class="btn btn-primary" ng-disabled="!data.selectedRace" ng-click="deleteRaceData()"><span class="glyphicon glyphicon-trash"></span> Törlés</button>
			</form>
	    </uib-accordion-group>
	    <uib-accordion-group is-open="accordionOptions.manageLicenceData.open">
	    	<uib-accordion-heading>
        		Licenszadatok kezelése <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionOptions.manageLicenceData.open, 'glyphicon-chevron-right': !accordionOptions.manageLicenceData.open}"></i>
      		</uib-accordion-heading>
      		<label>Beolvasás CSV fájlból</label>
	      	<file-upload url='csvUploadURL' onsuccess="csvUploadSuccess" onerror="csvUploadError" onfilechange="csvValidateContent"></file-upload>
	      	<button type="button" class="btn btn-primary" ng-disabled="!lastUploadedFileName || csvValidationError" ng-click="processCSVLicences()"><span class="glyphicon glyphicon-cloud-upload"></span> Beolvas</button>
	      	<br /><hr /><br />
	      	<label>Licenszadatok törlése:</label>
	      	<button type="button" class="btn btn-primary" ng-click="deleteLicenceData()"><span class="glyphicon glyphicon-trash"></span> Töröl</button>
	    </uib-accordion-group>
	</uib-accordion>
</div>