<div class="container">	
	<h3 ng-show="selectedRace">Nevezések - Verseny: {{selectedRace.name}} ({{selectedRace.startdate | date : 'yyyy-MM-dd'}}) <span class="glyphicon glyphicon-refresh clickable" ng-click="getRaceEntries(selectedRace.id)" title="Frissít"></span></h3>
	<div class="container hidden-print">
		<div class="dropdown pull-left">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Rajtlista
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu list-group">
		    <li ng-repeat="c in parameters['category']" class="list-group-item"><span class="clickable" ng-click="getStartlist(c.id)">{{c.name}}</span></li>
		  </ul>
		</div>
		<button class="btn btn-primary" ng-click="create()"><span class="glyphicon glyphicon-plus"></span> Új nevezés</button>		
		<a ng-show="selectedRace" href="#/results/{{selectedRace.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Eredmények</a>
		<a ng-show="selectedRace" href="#/invoices/{{selectedRace.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> Számla igények</a>
		<a ng-show="selectedRace" href="#/familyentries/{{selectedRace.id}}" class="btn btn-primary"><i class="fa fa-users"></i> Családi nevezések</a>
	</div>
	<csv-file-upload options="csvUploadOptions" onprocess="processCSVEntries"></csv-file-upload>
	<search-field searchexpr="entrySearchExpr" class="hidden-print"></search-field>
   	<table class="table table-striped table-bordered table-hover" ng-show="entries.length">
		<thead>
			<tr><td colspan=11 class="bg-primary text-center header-level1">Nevezések</td></tr>
			<tr orderable="entryOrderOptions" class="header-level2 text-center">
				<td>Név</td>
				<td>Rajtszám</td>
				<td>Születési év</td>
				<td>Település</td>
				<td>Egyesület</td>
				<td>Kategória</td>
				<td>Korcsoport</td>
				<td>Státusz</td>
				<td>Licensz</td>
				<td>Fizetve</td>
				<td>Rögzítve</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="e in entries | orderBy : entryOrderOptions.orderProperty : entryOrderOptions.orderReverse | filter : getEntrySearchExpr()">
				<td><span class="clickable" uib-popover-template="popoverOptions.templateUrl" popover-placement="right" popover-trigger="click">{{e.contestant.name}}</span></td>
				<td>{{e.key.racenum}}</td>
				<td>{{e.contestant.birthyear}}</td>
				<td>{{e.contestant.fromtown}}</td>
				<td>{{e.contestant.club.name}}</td>
				<td>{{e.category.name}}</td>
				<td>{{e.agegroup.name}}</td>
				<td>{{e.status | statusString }}</td>
				<td>{{e.licencenum}}</td>
				<td><span class="glyphicon glyphicon-usd" ng-show="e.paid" /><span ng-show="!e.paid && e.remainingpayment">Fizetendő:<br />{{e.remainingpayment | currency : ''}}</span></td>
				<td>{{e.entrytime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
			</tr>
		</tbody>
	</table>
	<div ng-hide="entries.length" class="container msg-box">
    	<span>Nincsenek megjelenítendő nevezések!</span>
    </div>
</div>