<div class="container">
	<h3><span ng-show="selectedTournament">Körverseny: {{selectedTournament.name}} - </span>Versenyek</h3>
	<div class="container"><button class="btn btn-primary" ng-click="create()"><span class="glyphicon glyphicon-plus"></span>Új verseny</button></div>
    <div class="panel panel-default" ng-repeat="r in races | orderBy : '-startdate'" ng-show="races.length">
		<div class="panel-heading">
			<div class="col-md-6"><a href="#/entries/{{r.id}}">{{r.name}}</a> ({{r.startdate | date : 'yyyy-MM-dd'}}
				<span ng-show="r.enddate"> - {{r.enddate | date : 'yyyy-MM-dd'}}</span>)
				<span ng-show="r.national"> - <span class="glyphicon glyphicon-globe" title="Országos bajnokság"></span></span>
			</div>
			<div class="col-md-6" style="display: none;" showonhover>
				<span class="pull-right">
					<span class="glyphicon glyphicon-pencil clickable" ng-click="edit(r)" title="Módosít">|</span>
					<span class="glyphicon glyphicon-trash clickable"  ng-click="delete(r)" title="Töröl"></span>
				</span>
			</div>
			<div class="clearfix"></div>
		</div>
        <div class="panel-body">{{r.desc}}</div>
        <div class="panel-footer">
        	<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td colspan="4">Időkorrekciók <span class="glyphicon glyphicon-plus clickable"  ng-click="addRaceadjustmentDialog(r.id)" title="Hozzáad"></span></td>
					</tr>
				</thead>
				<tbody ng-show="r.raceadjustments.length">
					<tr ng-repeat="ra in r.raceadjustments">
						<td>{{ra.category.name}}</td>
						<td>{{ra.gender | gender}}</td>
						<td>{{ra.resultmod.plus ? '+' : '-'}}{{ra.resultmod.time | date : 'HH:mm:ss'}}</td>
						<td><span class="glyphicon glyphicon-trash clickable"  ng-click="removeRaceadjustment(ra.key)" title="Töröl"></span></td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="row msg-box" ng-hide="races.length">
    	<span>Nincsenek megjelenítendő versenyek!</span>
    </div>
</div>