<div class="container">
	<div class="msg-box">
		<p class="vertical-middle">Üdvözli a Triatlon Eredménykövető Rendszer!<span class="glyphicon glyphicon-chevron-right pull-right"></span></p>
	</div>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-repeat="img in carouselImages track by $index" ng-class="{active : $index === 0}"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item" ng-repeat="img in carouselImages track by $index" ng-class="{active : $index === 0}">
	      <img ng-src="{{img.src}}" alt="{{img.desc}}">
	      <div class="carousel-caption">
	        <h3>{{img.caption}}</h3>
	        <p>{{img.desc}}</p>
	      </div>
	    </div>
	  </div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Előző</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Következő</span>
	  </a>
	</div>
</div>